<div class="container">
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <button (click)="toggleSidebar()">Menu</button>

    <mat-nav-list>
      @for (item of menuItems; track item) {
        <mat-list-item>
          <mat-icon
            [class.disabled]="!item.submenu || item.submenu.length === 0"
            (click)="item.submenu!.length ? toggleSubMenu(item) : null">
            {{ item.expanded ? 'expand_less' : 'expand_more' }}
          </mat-icon>
          <a [routerLink]="item.link" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">{{ item.name }}</a>
          @if (item.expanded) {
            <mat-list class="submenu">
              @for (subItem of item.submenu; track subItem) {
                <mat-list-item>
                  <a [routerLink]="subItem.link" routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }">{{ subItem.name }}</a>
                </mat-list-item>
              }
            </mat-list>
          }
        </mat-list-item>
      }
    </mat-nav-list>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
